@import "../colors.scss";

.progress-bar {
  display: inline-flex;
  height: 0.1rem;

  .progress-container {
    border: 1px $black solid;
    border-radius: 4px;
    display: inline-flex;
    width: 100%;

    .progress {
      border-radius: 4px;
      display: inline-flex;
      background-color: $red;
      transition: width 0.2s ease;
    }
  }
}
