@import "../assets/rpg-font/index.scss";
@import "./colors.scss";

body {
  background-color: $white-2;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

button {
  background-color: $black;
  border-radius: 4px;
  color: $white;
  padding: 0.2rem 0.4rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 3px 3px $grey-1;
    transform: translate(-3px, -3px);
  }

  .light {
    font-size: 0.75rem;
    padding: 0.1rem 0.2rem;
    background-color: $red;
    border-radius: 4px;
  }
}
