@font-face {
  font-family: "7x7 Pixelized";
  src: local("7x7 Pixelized"),
    url("../assets/fonts/7X7PixelizedRegular-35wp.ttf");
}

@font-face {
  font-family: "yoster";
  src: local("yoster"), url("../assets/fonts/yoster.ttf");
}

* {
  text-rendering: geometricPrecision;
  font-family: "yoster";
  font-size: 32px;
  color: #242923;
}
